img {
    justify-content: center;
    margin: 2rem auto 3rem auto;
    display: flex;
    width: 320px;
    height: 420px;
}

#aboutInfo {
    width: 50%;
    text-align: center;
    margin:auto;
    font-size: 25px;
    background: none;
}

#about {
    text-align: center;
}

#profilepic{
    border: 20px solid #64b6ac;
    border-radius: 15%;
}
@media only screen and (max-width: 780px){
  #aboutInfo{
    width: 78%;
  }
 }

@media only screen and (max-width: 600px) {
    /* Media query Test */
  img{
    width: 220px;
    height: 300px;
  }

  #aboutInfo {
    font-size: 15px;
    width: 80%;
    margin-bottom: 3rem;
  }

  #profilepic{
    border: 10px solid #64b6ac;
}
  }

  
  