h2{
    background-color: #b09e99;
    padding: 0rem 2rem .5rem 5rem;
    font-size: 35px;
    letter-spacing: 6px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #635856;
}

#headerbar{
    background-color: #b09e99;
    width: 100%;
    
}

#signature{
    height: 12rem;
    width:fit-content;
    margin: 0;
    float:left;
    /* Padding: top, right, bottom, left */
    padding: 2rem 100% 2rem 4rem;
    background-color: #b09e99;

}

@media only screen and (max-width: 1580px){
  #signature{
    width:65%;
    height:fit-content;
    padding: 5rem;
  }
}

@media only screen and (max-width: 1280px){
  #signature{
    width:100%;
    height:fit-content;
    padding: 4rem;
  }
}

@media only screen and (max-width: 925px){
    #signature{
      width:100%;
      height:fit-content;
      padding: 3rem;
    }
  }

@media only screen and (max-width: 780px){
    h2{
        font-size: 65px;
        padding-bottom: 2rem;
    }
    #signature{
        margin:auto;
        padding: 2rem;
        background-color: #b09e99; 
        width: 100%;
        height:fit-content;
    }
   }
   
@media only screen and (max-width: 600px) {
    /* Media query Test */
   h2{
    font-size:35px;
    text-align: center;
    padding: 25px 5px 10px 5px;
   }
  }

  @media only screen and (max-width: 290px){
    #signature{
      padding:1rem;
      width:100%;
      height: fit-content;
    }
  }
