 ul {
    list-style-type: none;
    text-align:end;
    background-color: #b09e99; 
    width: 100%;
    padding-bottom: 1.5rem;

 }

 .nav-item {
    display: inline;
    font-size: 25px;
    font-family: 'Kalam', cursive;
    font-weight: bold;
    background-color: #b09e99; 
    
    
 }

 li a {
    margin-right: 3rem;
    text-decoration: none;
    color: black;
    width: 100%;
    padding: .8rem 2rem;
    color: #fee9e1;
    background-color: #64b6ac;
    border-radius: 2rem;

 }

 #resumeTab {
   padding-right: 2rem;
   background-color: #b09e99; 
 }

 li a:hover{
   color: #c0fdfb;
 }

 li a:active{
   color: #64b6ac;
   background-color: #c0fdfb; 
 }
 
 @media only screen and (max-width: 780px){
  #resumeTab {
    padding-right: 0;
   
  }
 }

 @media only screen and (max-width: 650px) {
   /* Media query Test */
  li a {
   font-size: 15px;
   margin: 5px;
   padding: .8rem;
   border-radius: 1.5rem;
   width: 100%;
  }

  #resumeTab {
    padding-right: 0;
   
  }

  ul {
    text-align: center;
  }
 }




