img.projectImg {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border: 10px solid #64b6ac;
    border-radius: 15%;
    margin: 1rem;
}

#imageContainer {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 2rem 20rem;
}

img.projectImg:hover {
    opacity: 75%;
    border-color:#c0fdfb;
}

img.projectImg:active {
    border-color: #b09e99;
}

#deploy{
    height: 100px;
    width: fit-content;
}

.projectCard {
    display:flex;
    position:relative;

}

#gitIcon{
    position: absolute;
    left: 12%;
    bottom: 10%;
    background-color: #64b6ac ;
    border-radius: 50%;
}

.icon {
    color: white;
    font-size: 65px;
    padding: 8px;
}

.icon:hover {
  background-color: #64b6ac;
  border-radius: 50%;
  opacity: 0.6;
}



@media only screen and (max-width: 600px) {
    #imageContainer {
        margin: 1rem;
    }

    img.projectImg {
        width: 250px;
        height: 200px;
        margin: 1rem;
    }
}