* {
    font-family: 'Poppins', sans-serif;
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box; 
}

div{
    background-image: url("../src/images/background.jpg") ;
    background-size: cover;
}

#contactme{
    height: 22rem;
}

h1 {
    text-align: center;
    padding: 2rem 2rem 0 2rem;
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    color: #635856;
    background: none;
}

p {
    text-align: center;
    font-size:30px;
    color: #635856;
}

@media only screen and (max-width: 780px){
    p{
        font-size: 25px;
    }
  
   }

@media only screen and (max-width: 600px) {
    /* Media query Test */
    h1 {
        font-size: 30px;
        padding-bottom:0;
    }
    
    p{
        font-size: 15px;
    }

   

  }
